entrypoint = "index.html"
modules = ["nodejs-20", "web", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["static-web-server"]

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Serve static"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = """
echo \"Serving HTML, open the Preview to see your output.
To see changes you make, you can hit the refresh button in the preview, you do \u001B[1mnot\u001B[0m have to stop and run again.
Console logs are available in the Preview devtools or your browser devtools.\" && static-web-server -w ./.config/static-web-server.toml > /dev/null 2>&1
"""
waitForPort = 80

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "webserver"

[[workflows.workflow]]
name = "webserver"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node backend/server.js"
waitForPort = 5000

[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
SUPABASE_URL = "https://hcpimvggtpakenzjcewe.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcGltdmdndHBha2VuempjZXdlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1OTg3NzQsImV4cCI6MjA4NzE3NDc3NH0.FxhzTdourTXWr9YTmi4SaxjmNSUBgIK_I79ANExNDgs"
GOOGLE_CLIENT_ID = "445370233774-7b3j9s5unsge2ld3sqrh6lnk4sas9cu8.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
EMAIL_REMETENTE = "willfinishi@gmail.com"
EMAIL_SENHA_APP = "ewacvbonuajibbda"
